<h1 class="title">Register for a new account</h1>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
    <%= f.label :password_hash %>
  <%= f.text_field :password_hash %>
  <%= f.submit "Register" %>
<% end %>
